{"wAction":{"className":"SwissCheese.engine.keyboard.keyActions.GoForward","DATA":{}},"aAction":{"className":"SwissCheese.engine.keyboard.keyActions.GoLeft","DATA":{}},"sAction":{"className":"SwissCheese.engine.keyboard.keyActions.GoBackward","DATA":{}},"dAction":{"className":"SwissCheese.engine.keyboard.keyActions.GoRight","DATA":{}},"leftAction":{"className":"SwissCheese.engine.keyboard.keyActions.LookLeft","DATA":{}},"rightAction":{"className":"SwissCheese.engine.keyboard.keyActions.LookRight","DATA":{}},"escAction":{"className":"SwissCheese.engine.keyboard.keyActions.OpenMenu","DATA":{}}}