{"aAction":{"className":"SwissCheese.engine.keyboard.keyActions.GoLeft","DATA":{}},"cAction":{"className":"SwissCheese.engine.keyboard.keyActions.OpenMenu","DATA":{}},"dAction":{"className":"SwissCheese.engine.keyboard.keyActions.GoRight","DATA":{}},"sAction":{"className":"SwissCheese.engine.keyboard.keyActions.GoBackward","DATA":{}},"wAction":{"className":"SwissCheese.engine.keyboard.keyActions.GoForward","DATA":{"hello":"0"}},"leftAction":{"className":"SwissCheese.engine.keyboard.keyActions.PanLeft","DATA":{}},"rightAction":{"className":"SwissCheese.engine.keyboard.keyActions.PanRight","DATA":{}},"escAction":{"className":"SwissCheese.engine.keyboard.keyActions.OpenMenu","DATA":{}},"n0Action":{"className":"SwissCheese.engine.keyboard.keyActions.ExitGame","DATA":{}}}