{"aAction":{"className":"org.swisscheese.swisscheese.engine.keyboard.keyActions.GoLeft","DATA":{}},"cAction":{"className":"org.swisscheese.swisscheese.engine.keyboard.keyActions.OpenMenu","DATA":{}},"dAction":{"className":"org.swisscheese.swisscheese.engine.keyboard.keyActions.GoRight","DATA":{}},"sAction":{"className":"org.swisscheese.swisscheese.engine.keyboard.keyActions.GoBackward","DATA":{}},"wAction":{"className":"org.swisscheese.swisscheese.engine.keyboard.keyActions.GoForward","DATA":{}},"leftAction":{"className":"org.swisscheese.swisscheese.engine.keyboard.keyActions.PanLeft","DATA":{}},"rightAction":{"className":"org.swisscheese.swisscheese.engine.keyboard.keyActions.PanRight","DATA":{}},"escAction":{"className":"org.swisscheese.swisscheese.engine.keyboard.keyActions.OpenMenu","DATA":{}},"n0Action":{"className":"org.swisscheese.swisscheese.engine.keyboard.keyActions.ExitGame","DATA":{}}}